@font-face{
	font-family:"Gotham";
	src: url(Gotham-Book_0.ttf) format("truetype");
}
*{
  z-index:0;
}
html{
	background-image:url('Background.png');
	background-repeat:no-repeat;
	background-position:top-left;
	font-family: "Gotham";
}
h1{
	font-size:100px;
	text-align:center;
	padding: 10px;
	padding-bottom:0px;
	padding-top:0px;
	margin: auto;
	position:relative;
	top:0px;
	left:0px;
	color:white;
}
.headers li{
	font-size:60px;
	font-weight:bold;
	text-align:center;
	padding:10px;
	color:white;
	float:center;
	display:inline;
}
.LD{
	float:left;
	margin:auto;
	width:45%;
}
.PC{
	float:right;
	width:45%;
	margin:auto;
}